{{#with (changeset model contactValidation) as |formValues|}}
  <h2>Editing {{model.firstName}} {{model.lastName}}</h2>


  <form {{action "saveContact" formValues on="submit"}}>
    <p>{{input value=formValues.firstName}}</p>

    {{#link-to "contact.index"}}Back{{/link-to}}

    <button type="submit">Save</button>
  </form>
{{/with}}
